.contactsMain {
  /* position: relative; */
  margin-top: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.rotatingText-adjective {
    font-size: 1.6rem;
    border-radius: 20px;
    opacity: 0;
    display: block;
    animation: fade-in 2s ease-in forwards;
  }

  .share {
    position: absolute;
    margin-top: -2%;
    margin-left: 12%;
    border: none;
    border-radius: 5px;
    background-color: #5d47a3;
  }

  .share a {
    color: white;
  }
  
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      display: none;
    }
  
    100% {
      opacity: 1;
      display: block;
    }
  }

  .number {
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    max-height: 35px;
  }

  .contactImg1, .contactImg3 {
    height: 540px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.815); 
  }

  .boxes6 { 
    top: 0;
    left: 0;
    position: absolute;
    width: 200px;
    opacity: 0.8;
    animation:rightleftloopie;
    animation-duration:8.0s;
    animation-fill-mode: both;
    animation-delay:0s;
  }

  .boxes7 { 
    top: 0;
    right: 0;
    position: absolute;
    width: 200px;
    /* margin-top: 3%; */
    opacity: 0.8;
    animation:rightleftloopie2;
    animation-duration:10.0s;
    animation-fill-mode: both;
    animation-delay:0s;
  }


  @keyframes rightleftloopie {
    0% {margin-left: 1px}
    100% {transform: translateX(-500px);}
    }
  
    @keyframes rightleftloopie2 {
      0% {margin-right: 1px}
      100% {transform: translateX(1200px);}
      }


  
  @keyframes fade-out {
    0% {
      opacity: 1;
      display: block;
    }
  
    100% {
      opacity: 0;
      display: none;
    }
  }

  .moving {
    width: 300px;
    height: 200px;
  }

  .h5 {
    font-size: 20px;
    /* margin-left: 15%; */
    animation: fade-in 2s ease-in forwards;
  }

  .moving2 {
    margin-top: 40%;
    width: 280px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(1, 1, 0, 0.968); 
  }
  .moving2:nth-child(1){
    margin-left: -2%;
  }
  .side1 {
    animation: 2s ease-out 0s 1 slideInFromRight;
  }
  .side1:nth-child(2) {
    animation: 2s ease-out 0s 1 slideInFromLeft
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .stars {
    background-color: white;
    list-style: none;
    border-radius: 10px;
    width: 380px;
    height: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.815);
    animation: fade-in 2s ease-in forwards;
  }
  .stars li {
    margin-left: 5%;
    margin-top: 10px;
  }
  .stars i {
    color: #ff9c1a;
  }

  svg {
    position: absolute;
    margin-top: -5%;
    margin-left: -10%;
  }

  @media screen and (max-width: 500px) {
    .side1 {
      display: none;
    }
    .share {
      margin-top: -10%;
      margin-left: 42%;
    }
  }

  